
body {
/*
	padding-top: 20px;
 	padding-bottom: 60px; 
*/
}

/* Custom container */
#orgm_container {
	margin: 20px auto 20px;
	background-color: #fff;
	padding: 0 30px;
	border-radius: 7px;
}

#orgm_container > hr {
	margin: 30px 0;
}

#orgm_container.haik-fullpage {
	padding-left:0;
	padding-right:0;
}

/* navi */
#logo {
	padding: 0 0;
	line-height: 50px;
	box-sizing: border-box;
	margin: 0;
	height: 50px;
}

#logo .navbar-brand {
	font-size: 24.5px;
	color: #999999;
	text-decoration: none;
	padding-left: 0;
	padding-right: 0;
}

#logo .navbar-brand.logo-image {
	padding: 0;
	border-style: none;
	margin: 0;
	line-height: 50px;
}

#logo .navbar-brand.logo-image img {
	max-height: 50px;
	max-width: none;
}


/* Supporting marketing content */
.marketing {
/* 	margin: 30px 0 60px; */
	margin: 0 0 60px;
	line-height: 1.7em;
}
.marketing h1 {
	margin-top: 30px;	
	margin-bottom: 20px;	
}
.marketing h1 {
	margin-top: 30px;	
	margin-bottom: 20px;	
}
.marketing h2 {
	margin-top: 30px;	
	margin-bottom: 20px;	
}
.marketing h3 {
	margin-top: 30px;	
	margin-bottom: 20px;	
}
.marketing h4 {
	margin-top: 30px;	
	margin-bottom: 20px;	
}

.marketing p {
	margin-top: 1.5em;	
	margin-bottom: 1.5em;	
}
.marketing p + h4 {
	margin-top: 28px;
}

/* Customize the navbar links to be fill the entire space of the .navbar */
.container .navbar .navbar-inner {
	padding: 0;
}
#orgm_nav .nav {
	margin: 0;
	display: table;
	width: 100%;
}
#orgm_nav .nav > li {
	display: table-cell;
/* 	width: 1%; */
	float: none;
}
#orgm_nav .nav > li > a {
	font-weight: normal;
	text-align: center;
	padding-top: 0;
	padding-bottom:0;
	line-height: 50px;
}
#orgm_nav .nav > li:first-child > a {
	border-left: 0;
	border-radius: 3px 0 0 3px;
}
#orgm_nav .nav > li:last-child > a {
	border-right: 0;
	border-radius: 0 3px 3px 0;
}

#orgm_nav .nav > li.active > a {
	border-right-width: 0;
	border-left-width: 0;
}

.navbar-toggle {
	border-color: #ddd;
	margin-right: 0;
}
.navbar-toggle .icon-bar {
	background-color: #ddd;
}

#orgm_navbar .navbar-collapse {
	padding-left:0;
	padding-right:0;
}

#orgm_navbar {
/*
	background-color: #fff;
	border-style: none;
*/
}

#orgm_nav .nav .dropdown.open .dropdown-menu {
	left: auto;
}

#orgm_nav .share_buttons ul.nav > li > a:hover {
	background-color: transparent;
}

#orgm_menu .nav>li>a:hover,
#orgm_menu .nav>li>a:focus {
	background-color: transparent;
}


.footer {
	padding-bottom: 30px;
}

#license {
	margin-top: 30px;
	text-align: center;	
}

@media (max-width: 767px) {

	.nav-collapse,
	.nav-collapse.collapse {
		height: 0;
	}
	
	#logo {
		float: left;
		margin-left: 15px;
	}

	#logo .navbar-brand {
		margin-left: 0;
		margin-right: 0;
		text-align: left;
	}
	
	#orgm_navbar {
		position: static;
	}
	
	#orgm_navbar .navbar-collapse {
		border-top-style: none;		
	}
	
	#orgm_navbar .nav > li.active > a {
		border-radius: 0;
	}

	#orgm_navbar .nav > li.dropdown.open ul.dropdown-menu {
/* 		background-color: transparent; */
		border-style:none;
		box-shadow: none;
		left: auto;
	}

	#orgm_navbar .nav > li.dropdown.open ul.dropdown-menu > li > a {
		color: inherit;
	}

	#orgm_navbar .nav > li.dropdown.open ul.dropdown-menu > li > a:hover {
		background-color: transparent;
		background-image: none;
		font-weight: bold;
	}

	#orgm_nav .nav > li {
		display: list-item;
		width: auto;
	}
	#orgm_nav .nav > li > a {
		text-align: left;
	}

	#orgm_nav .nav > li > a:hover,
	#orgm_nav .nav > li > a.focus,
	#orgm_nav .nav > li > a.active {
		background-color: transparent;
		font-weight: bold;
	}

	#orgm_nav .nav > li:first-child {
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
	}

	#orgm_nav > .nav > li {
		position: relative;
		display: block;
		padding: 0 0px;
		margin-bottom: -1px;
		background-color: #ffffff;
		border: 1px solid #dddddd;
	}
	#orgm_nav > .nav > li > a {
		line-height: 3em;
	}
	
	
	/* eyecatch */
	#orgm_eyecatch .haik-section{
		height: 200px !important;
	}
	#orgm_eyecatch .carousel .item {
		max-height: 200px !important;
		min-height: 200px !important;
	}
	#orgm_eyecatch .carousel .item img {
		min-height: 200px !important;
	}
	#orgm_eyecatch .carousel .carousel-caption h1 {
		font-size: 28px;
	}
	#orgm_eyecatch .carousel .carousel-caption .lead {
		font-size: 16px;
	}

}